.nav-icon{
  color: #ffffff;
}
.head {
  background-color: #000000;
  padding: 40px 0;
  color: #ffffff;
}
.head i {
  margin-right: 10px;
}
.head label {
  margin-right: 50px;
  font-size: 25px;
}

.open {
  display: none;
}

